<% if @id %>
  <h1>Your transaction has been given id: <%= @id %></h1>
<% else %>
  <h1>Your transaction could not be verified</h1>
<% end %>

<h2>Transaction</h2>
<h3>Creation</h3>
<h5>Creator address</h5>
<p><%= @transaction.creation.creator_address %></p>
<h5>Signature</h5>
<p><%= @transaction.creation.signature %></p>
<h3>Output</h3>
<h5>Address</h5>
<p><%= @transaction.output.address %></p>
<h5>Creator address</h5>
<p><%= @transaction.output.creator_address %></p>

<h2>JSON</h2>
<h3>Output</h3>
<p><%= @output %></p>
<h3>Parsed Output</h3>
<p><%= @parsed_output %></p>
<h3>JSON</h3>
<p><%= @json %></p>
<h3>Parsed JSON</h3>
<p><%= @parsed_json %></p>