<!DOCTYPE html>
<html>
<head>
  <title>BitCoupon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <%= render 'layouts/navbar' %>
    <div class="row">
      <div class="col-md-2">
        <%= yield :sidebar %>
      </div>
      <div class="col-md-8">
        <%= render 'layouts/alert' %>
        <div class="row">
          <%= yield %>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</body>
</html>
